# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build y temporales
dist/
.next/
out/
.env
*.env

# Prisma
/generated
/guitarshop-backend/generated
/guitarshop-backend/prisma/migrations/
prisma/migrations/

# IDE
.vscode/
.DS_Store
