# ========================
# DEPENDENCIAS
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# BUILD / FRAMEWORKS
# ========================
dist/
.next/
out/
.vite/

# ========================
# VARIABLES DE ENTORNO
# ========================
.env
.env.*
!.env.example

# ========================
# PRISMA
# ========================
# Solo el cliente generado (si usas output custom)
generated/

# ⚠️ NO IGNORAR migraciones
# prisma/migrations/   <-- ESTO NO VA IGNORADO

# ========================
# IDE / SISTEMA
# ========================
.vscode/
.DS_Store
