# ========================
# DEPENDENCIAS
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.log

# ========================
# BUILD / FRAMEWORKS
# ========================
dist/
.next/
out/
.vite/

# Coverage / caches
coverage/
.eslintcache
*.tsbuildinfo

# ========================
# VARIABLES DE ENTORNO
# ========================
.env
.env.*
!.env.example

# ========================
# PRISMA
# ========================
# Solo el cliente generado (si usas output custom)
generated/

# ⚠️ NO IGNORAR migraciones
# prisma/migrations/   <-- ESTO NO VA IGNORADO

# ========================
# IDE / SISTEMA
# ========================
.vscode/
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# JetBrains
.idea/

# Vercel / Netlify (si deployas)
.vercel/
.netlify/
